numpy
scipy
matplotlib
torch
torchvision
torchaudio
pennylane
scikit-learn
tqdm
jupyter
ipykernel
pandas
h5py
obspy
Reproducibility: 
numpy==1.26.4
scipy==1.13.1
matplotlib==3.9.0
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
pennylane==0.36.0
scikit-learn==1.5.0
tqdm==4.66.4
jupyter==1.0.0
ipykernel==6.29.4
pandas==2.2.2
h5py==3.11.0
obspy==1.4.1
